# display statments in python

In [1]:
print('hello world')

hello world

# Standard Data Types

Python has five standard data types-
     Numbers
     String
     List
     Tuple
     Dictionary

# Variable names
There are just a couple of rules to follow when naming your variables.

 Variable names can contain letters, numbers, and the underscore.
• Variable names cannot contain spaces.
• Variable names cannot start with a number.
• Case matters—for instance, temp and Temp are different.

In [6]:
# #declare varibale
character_name ="john"
x = 50
is_male = True
print(character_name)
print(x)
print(is_male)

john
50
True

# Python Strings
Strings in Python are identified as a contiguous set of characters represented in the
quotation marks. Python allows either pair of single or double quotes. Subsets of strings
can be taken using the slice operator ([ ] and [:] ) with indexes starting at 0 in the
beginning of the string and working their way from -1 to the end.
The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition
operator. For example-

In [7]:
phrase = 'hello world'
print(phrase);
print(phrase.index('e'))
print(phrase.upper())
print(phrase.lower())
print(phrase.isupper())
print(phrase.replace('hello', 'new'))

hello world
1
HELLO WORLD
hello world
False
new world

# Python Numbers
Number data types store numeric values. Number objects are created when you assign a
value to them. -

Python supports three different numerical types −
     int (signed integers)
     float (floating point real values)
     complex (complex numbers)

In [8]:
print(2 + 3)
print(10 % 5)
a = 35
print(str(a) + ' is my favorite numbers')

5
0
35 is my favorite numbers

In [9]:
from math import *
print(max(24, 50))
print(min(23, 56))
print(floor(3.999))
print(ceil(3.222))
print(round(3.4))
print(sqrt(16))

50
23
3
4
3
4.0

# Getting input from the users

In [11]:
name = input('enter your name ')
age = int(input('enter your age '))
print('hello '+ name + ' your age is' + ' ' + str(age))

enter your name adem
enter your age 30
hello adem your age is 30

Write a python program to display the sum of two numbers accept from the users

In [12]:
num1 = eval(input('enter number one'))
num2 = eval(input('enter number two'))
sum = num1 + num1
print('the sum of two numbers are :' +  str(sum))

enter number one 20
enter number two 20
the sum of two numbers are :40

# Python Lists
Lists are the most versatile of Python's compound data types. A list contains items
separated by commas and enclosed within square brackets ([]). To some extent, lists are
similar to arrays in C. One of the differences between them is that all the items belonging
to a list can be of different data type.
The values stored in a list can be accessed using the slice operator ([ ] and [:]) with
indexes starting at 0 in the beginning of the list and working their way to end -1. The plus
(+) sign is the list concatenation operator, and the asterisk (*) is the repetition operator.

In [13]:
firendsName = ['aymen', 'mesud', 'mahir', 24]
print(firendsName)
print(firendsName[0])
print(firendsName[2:])
print(firendsName[1:3])

['aymen', 'mesud', 'mahir', 24]
aymen
['mahir', 24]
['mesud', 'mahir']

# Delete List Elements
To remove a list element, you can use either the del statement if you know exactly which
element(s) you are deleting. You can use the remove() method if you do not know exactly
which items to delete.

In [14]:
list = ['physics', 'chemistry', 1997, 2000]
print (list)
del list[2]
print ("After deleting value at index 2 : ", list)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :  ['physics', 'chemistry', 2000]

# Updating Lists
You can update single or multiple elements of lists by giving the slice on the left-hand side
of the assignment operator, and you can add to elements in a list with the append()
method.

In [15]:
firendsName[2] ='jhon'
print(firendsName)
print(len(firendsName))
print(firendsName.remove('aymen'))
print(firendsName)
print(firendsName.append('aymen'))
print(firendsName)

['aymen', 'mesud', 'jhon', 24]
4
None
['mesud', 'jhon', 24]
None
['mesud', 'jhon', 24, 'aymen']

# Python Tuples
A tuple is another sequence data type that is similar to the list. A tuple consists of a
number of values separated by commas. Unlike lists, however, tuples are enclosed within
parenthesis.
The main difference between lists and tuples is- Lists are enclosed in brackets ( [ ] ) and
their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) )
and cannot be updated. Tuples can be thought of as read-only lists.

In [16]:
coordinates =(4,5)
print(coordinates)
print(coordinates[0])

(4, 5)
4

# Updating Tuples
Tuples are immutable, which means you cannot update or change the values of tuple
elements. You are able to take portions of the existing tuples to create new tuples as the
following example demonstrates.

In [18]:
#coordinates[0] =5
#print(coordinates)

In [1]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [3]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistupleistuple)

('apple', 'banana', 'cherry', 'orange')

# Python Dictionary
Python's dictionaries are kind of hash-table type. They work like associative arrays or
hashes found in Perl and consist of key-value pairs. A dictionary key can be almost any
Python type, but are usually numbers or strings. Values, on the other hand, can be any
arbitrary Python object.

In [25]:
dic ={'name' : 'mahi', 'age' : 50, 'course':'artificial'}
x = dic.keys()
y = dic.values()
z = dic.items()
print(x)
print(y)
print(z)
print(dic)

dict_keys(['name', 'age', 'course'])
dict_values(['mahi', 50, 'artificial'])
dict_items([('name', 'mahi'), ('age', 50), ('course', 'artificial')])
{'name': 'mahi', 'age': 50, 'course': 'artificial'}

In [26]:
print(dic['name'])

mahi

In [28]:
# updating dictionary
dic['age'] = 70
dic.update({'course': "data science"})
print(dic)

{'name': 'mahi', 'age': 70, 'course': 'data science'}

In [24]:
# dleting item from dictionary
del dic['age']
print(dic)

{'name': 'mahi', 'corse': 'artificial'}

In [25]:
print(len(dic))

2

# Adding Items in Dictionary

In [20]:
montConcersion={
    1 :"sep",
    2 : "oct",
    3 : "november"
}
montConcersion[4 ] = "janauary"
print(montConcersion)

{1: 'sep', 2: 'oct', 3: 'november', 4: 'janauary'}

# Removing Items

In [29]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [30]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

# Function

# Defining a Function
You can define functions to provide the required functionality. Here are simple rules to
define a function in Python.
 Function blocks begin with the keyword def followed by the function name and
parentheses ( ( ) ).
 Any input parameters or arguments should be placed within these parentheses.
You can also define parameters inside these parentheses.
 The code block within every function starts with a colon (:) and is indented.
 The statement return [expression] exits a function, optionally passing back an
expression to the caller. A return statement with no arguments is the same as
return None.

In [29]:
def display(name, age):
    print('hello ' + name +  ' ' +str(age))
display('Mahir', 46)

hello adem 46

In [4]:
def factors(x):
    # notice the use of the negation and the use of 0 as false
    if not x % 2:
        print("2 is a factor of " + str(x))  
    if not x % 3:     
        print("3 is a factor of " + str(x))
    if (x % 2) and (x % 3):
        print("Neither 2 nor 3 are factors of " + str(x))

factors(4)
factors(9)
factors(12)
factors(13)

2 is a factor of 4
3 is a factor of 9
2 is a factor of 12
3 is a factor of 12
Neither 2 nor 3 are factors of 13

# Return Statment

In [31]:
def cube(num):
   return  num * num * num
print(cube(10))

1000

# Lambda functions

In [11]:
x = lambda a : a + 10
print(x(5))

15

In [33]:
user = 'user'
if(user == 'admin'):
    print('u are admin users')

u are admin users

In [35]:
if(user == 'admin'):
    print('u are admin users')
else :
    print('you are gust users')

u are admin users

In [38]:
user = 'super'
if(user == 'gust'):
    print('u are admin users')
elif(user == 'admin') :
    print('you are gust users')
else :
    print('you are not a users')

you are not a users

write a program to compare three numbers using functions

In [62]:
num1 = float(input("enter number one"))
op = input("enter operand")
num2 = float(input("enter number two"))
if op == '-':
    print(num1 - num2)
elif op == '+':
     print(num1 + num2)
elif op == '*':
     print(num1 * num2)
elif op == '/':
     print(num1 / num2)
else:
    print("invalid operator")

enter number one6
enter operand+
enter number two4
10.0

In [3]:
list1 =[1,2,3,4,5]
if 2 in list1:
    print('exist')

exist

# Tuples in loop

In [6]:
thistuple = ("apple", "banana", "cherry",2)
for x in thistuple:
  print(x)

apple
banana
cherry
2

In [5]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

# Loop

In [68]:
a = 0
while (a < 10):
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9

In [2]:
list1 = [1,2,3,4,5,6]
sum = 0
i = 0
while  i <= len(list1):
    sum +=i
    i +=1
print(sum)

21

# The break Statement

In [7]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

# For loops

In [8]:
for val in 'artificial':
    print(val, end=' ')

a r t i f i c i a l

In [19]:
friends = ['adem','mahi','sudeys']
for lets in range(2,10):
    print(lets)

2
3
4
5
6
7
8
9

In [32]:
montConcersion={
    1 :"sep",
    2 : "oct",
    3 : "november"
}
for lets in montConcersion:
    print(montConcersion[lets])

sep
oct
november

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
num=[2,4,6,7,8,9,10]
for i in num:
    if i%2 == 0 :
        print( i , "the numbers are even")
        break
    else :
        print("the numbers are odd")

2 the numbers are even

In [11]:
s = 0
for i in range(1,101):
    s = s + i
print('The sum is', s)

The sum is 5050

In [12]:
for i in range(5, 0, -1):
    print(i, end=" ")
print("last")

5 4 3 2 1 last

In [13]:
num=[2,4,6,7,8,9,10]
for i in num:
    if i%2 == 0 :
        print( i , "the numbers are even")
        break
    else :
        print("the numbers are odd")

2 the numbers are even

In [39]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    def addemp(self):
        print ("Name : ", self.name,", Salary: ", self.salary)
        
k = Employee("Zara", 2000)
k.addemp()

Name :  Zara , Salary:  2000

In [33]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [40]:
class Calculator:
    def __init__(self, c, d):
        self.c = c
        self.d = d
    def add(self):
        return self.c + self.d
    def sub(self):
        return self.c - self.d
    def mul(self):
        return self.c * self.d
k = Calculator(10, 5)
print(k.add())
print(k.sub())
print(k.mul())

15
5
50